img{
    max-width: 100%;
}
.bloc_page
{
    margin-left: 0.313rem;
    margin-right: 0.313rem;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
