
body
{
    font-family: "Raleway";
    display: flex;
    align-items: center;
    flex-direction: column;
}
header
{
    display: flex;
    justify-content: space-between;
    width: 94%;
}
.logo img
{
    max-width: 20%;
    padding-top: 0.625rem;
}
main
{
    margin: auto;
    width: 94%;
}
nav li
{
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 6.25rem;
    display:inline;
    height: 2.5rem;
}
nav a
{
    text-decoration: none;
    color: #0065fc;
}
nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: right;
}
nav a:hover
{
    border-top: 0.125rem solid #0065fc;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.slogan-title
{
    font-size: 1rem;
    min-width: 15rem;
    font-weight: bold;
}
.slogan
{
    font-size: 0.7rem;
    min-width: 15rem;
}
form
{
    display: flex;
}
label
{
    display: flex;
    background-color: #f2f2f2;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    justify-content:center;
    width: 2.3rem;
    height: 2.5rem;
}
button
{
    display: block;
    background-color: #0065fc;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border: none;
    min-width: auto;
    width: 5.5rem;
}
input
{
    display: flex;
    padding-left: 0.625rem;
    border-top: 0.09rem solid #f2f2f2;
    border-bottom: 0.09rem solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-size: 0.8rem;
    font-weight: bold;
    min-width: auto;
}
.fas.fa-map-marker-alt
{
    display: flex;
    align-items: center;
    font-size: 0.80em;
}
.filters
{
    display: flex;
    min-height: 1.25rem;
    align-items: center;
}
.filters h2
{
    font-size: 0.8rem;
    font-weight: bold;
}
.filters-list 
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.25rem;
}
.filters-list a
{
    display:flex;
    align-items:center;
    text-decoration: none;
    color: black;
}
.filters-list p
{
    background-color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    border-top-right-radius:20rem;
    border-bottom-right-radius:20rem;
    border: 2px solid #f2f2f2;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    height: 2.4rem;
    align-items: center;
}
.filter:hover
{
    background-color: #deebff;
}
.icon
{
    position: relative;
    left: 1rem;
    background-color: #deebff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    align-items: center;
    border: 0.063rem solid #f2f2f2;
    display: flex;
}
.icon i
{
    margin: auto;
    color: #0065fc;
    font-size: 0.9em;
}
.result-number
{
    display: flex;
    align-items: baseline;
}
.icon-info
{
    display: flex;
    border: 0.13rem solid#f2f2f2;
    border-radius: 10rem;
    width: 1rem;
    height: 1rem;
    margin-left: 0.313rem;
    justify-content: center;
    align-items: center;

}
.fas.fa-info
{
    color:#0065fc;
    display:flex;
    font-size: 0.6em;
}
.result-number p
{
    font-size: 0.7em;
    margin-left: 0.625rem;
    margin-bottom: 2rem;
}
.section-1
{
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 1rem;
}
.lodgings
{
    background-color: #f2f2f2;
    border-radius: 0.625rem 0.625rem;
    padding: 0 1rem;
}
.lodgings h2
{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.625rem;
}
.lodgings-grid
{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    gap: 1rem;
}
.lodging
{
    background-color: #ffffff;
    border-radius: 0.625rem;
    box-shadow: 2px 4px 2px #dfdbdb;
    border: white 0.20rem solid;
    overflow: hidden;
}
article a 
{
    text-decoration: none;
    color: black;
    display: block;
}
.lodging:hover
{
    background-color: #deebff;
    transform: scale(1.04);
}
.lodging img 
{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}
.lodging-name
{
    margin-top: 0.125rem;
    padding-left: 0.625rem;
    font-size: 0.7em;
    font-weight: bold;
}
.lodging-price
{
    padding-left: 0.625rem;
    font-size: 0.7em;
}
.rating
{
    padding-left: 0.625rem;
    margin-left: 0.063rem;
    padding-bottom: 0.625rem;
}
.rating i
{
    max-width: 0.5rem;
}
.fas.fa-star
{
    padding-bottom: 1.563rem;
    color: #0065fc;
}
.far.fa-star
{
    padding-bottom: 1.563rem;
    color: #deebff;
}
.more
{
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    margin-left: 0.938rem;
    text-decoration: none;
}
.populars
{
    background-color: #f2f2f2;
    border-radius: 0.625rem 0.625rem;
}
.popular-grid
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 22.5rem;
}
.pupular-description
{
    display: flex;
    flex-direction: column;
    max-width: 9.375rem;
}

.fas.fa-chart-line
{
    width: 1.25rem;
    height: 1.25rem;
    right: 0.625rem;
}
.populars h2
{
    height: 1.25rem;
    font-size: 1em;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.populars-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.popular
{
    min-width: 25rem;
    background-color: #ffffff;
    border-radius: 0.625rem 0.625rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    box-shadow: 0.125rem 0.25rem 0.125rem #dfdbdb;
    border: white 0.20rem solid;
    overflow: hidden;
}
.popular:hover
{
    background-color: #deebff;
    transform: scale(1.04);
}
.popular a
{
    text-decoration: none;
    display:flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
}
.popular img
{
    width: 40%;
    height: 8.75rem;
    object-fit: cover;
}
.activity
{
    display:block;
}
.activity-title
{
    height: 0.625rem;
    margin-left: 1.875rem;
    margin-top: 1.875rem;
    font-size: 1em;
    display: flex;

}
.activity-grid a
{
    text-decoration: none;
    font-weight: bold;
}
.activity-grid
{
    display: grid;
    grid-gap: 1.875rem;
    border-radius: 0.625rem 0.625rem;
    margin-top: 1.25rem;
    min-width: 21.25rem;
    grid-template-areas: 
    "zone1 zone2 zone4 zone5"
    "zone1 zone3 zone4 zone6";
}
figure
{
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.625rem 0.625rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    flex-wrap: wrap;
    box-shadow: 0.125rem 0.25rem 0.125rem #dfdbdb;
}
figure:hover
{
    background-color: #deebff;
    transform: scale(1.04);
}

figure img
{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.625rem 0.625rem;
    border-top-right-radius: 0.625rem 0.625rem;
}
figcaption
{
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.938rem;
    height: 1.563rem;
    width: 15.625rem;
    padding-top: 0.313rem;
    color: black;
}
.vieux-port
{
    grid-area: zone1;
    display: flex;
}

.vieux-port img
{
    height: 17.188rem;
}

.fort-pomegues
{
    grid-area: zone2;
    display: flex;
}

.fort-pomegues img
{
    max-height: 8.125rem;
}

.iles-frioul
{
    grid-area: zone3;
    display: flex;
}

.iles-frioul img
{
    max-height: 5.313rem;
}

.parc-national
{
    grid-area: zone4;
    display: flex;
}

.parc-national img
{
    height: 17.188rem;
}

.notre-dame
{
    grid-area: zone5;
    display:flex;
}

.notre-dame img
{
    object-position: 50% 20%;
    max-height: 6.563rem;
}

.parc-longchamp
{
    grid-area: zone6;
    display: flex;
}

.parc-longchamp img
{
    max-height: 6.875rem;
}
footer
{
    display: flex;
    align-items: baseline;
    margin-top: 2.5rem;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    border-radius: 0.625rem 0.625rem;
    width: 100%;
}
.about
{
    display: inline-block;
    width: 20%;
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.our-lodgings
{
    display: inline-block;
    width: 20%;
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.assistance
{
    display: inline-block;
    width: 20%;
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
footer h2
{
    font-weight: bold;
    font-size: 0.8em;
}
footer a
{
    text-decoration: none;
    color: black;
    text-align: center;
}
footer ul
{
    list-style-type: none;
    flex-wrap: nowrap;
    padding-left: 0rem;
    margin-top: 0.313rem;
}
footer li
{
    font-size: 0.7em;
    padding-bottom: 0.5rem; 
    flex-wrap: nowrap;
}